:root {
    --tab-border-radius: 0 !important;
    --toolbarbutton-border-radius: 0 !important;
    --button-border-radius: 0 !important;
    --border-radius-medium: 0 !important;
    --arrowpanel-border-radius: 0 !important;
    --arrowpanel-menuitem-border-radius: 0 !important;
}
